@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	font-family: Roboto, sans-serif;
	color: #333;
}